<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Things to do</h1>

    <form action="/addTask" method="POST">
        <h2>Add A Task:</h2>
        <input type="text" placeholder="Do this" name="doThis">
        <input type="text" placeholder="Deadline" name="deadline">
        <input type="submit">
    </form>

    <ul class="tasks">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="task">
            <span><%= info[i].doThis %></span>
            <span><%= info[i].deadline %></span>
            <span><%= info[i].importance %></span>
            <span class='fa fa-arrow-up'></span>
            <span class='fa fa-arrow-down'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

   
    

    <script src='js/main.js'></script>
</body>
</html>
