<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Things to do</h1>

    <form action="/addTask" method="POST">
        <h2>Add A Task:</h2>
        <input type="text" placeholder="Type here" name="doThis" size="40">
        <input type="submit" value="Write it down">
    </form>

    <ul class="tasks">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="task">
            <span class="taskLine"><%= info[i].doThis %></span>
            <span class='importance'><%= info[i].importance %></span>
            <span class='fa fa-arrow-up'></span>
            <span class='fa fa-arrow-down'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

   
    

    <script src='js/main.js'></script>
</body>
</html>
