

body *{
    font-family: 'IBM Plex Sans', sans-serif;
    color: #331E38;
}

body{
    background-image: url(/resource/swirl_pattern.webp);
    background-repeat: repeat;
    box-sizing: border-box;
    width:100%;
    margin:20px auto auto auto;
    
}

body h1{
    padding: 20px 40px;
    margin: auto;
    display: block;
    height:60px;
    width: 70%;
    background-color: #F4E8C1;
    border: 0px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 75px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 75px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 75px 0px rgba(34, 60, 80, 0.2);
    text-align: center;
    color: #70A0AF;
}

ul{
    padding: 30px 40px;
    margin: auto;
    display: block;
    height: 600px;
    width: 70%;
    background-color: #F4E8C1;
    border: 0px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 75px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 75px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 75px 0px rgba(34, 60, 80, 0.2);
    font-size: 1.2em;
    list-style-type: square;
    text-align: right;
    line-height: 160%;
}

form{
    padding: 20px 40px;
    margin: auto;
    display: block;
    height:80px;
    width: 70%;
    background-color: #F4E8C1;
    border: 0px;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 75px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 75px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 75px 0px rgba(34, 60, 80, 0.2);
    text-align: center;
}

body > *{
    margin-top: 15px;
    margin-bottom: 15px;
}

h2{
    margin-top: 0;
    margin-bottom: 10px;
    color: #70A0AF;
}

.fa-arrow-up{padding-left: 20px;}
.importance{padding-left: 20px;}
.taskLine{float: left; text-align: left;}

li{overflow-wrap: break-word;}

.button{margin-top: 4px;}

.fa{color: #706993;}

.button {
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	background-color:#637aad;
	border-radius:3px;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7a8eb9;
}
.button:hover {
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	background-color:#5972a7;
}
.button:active {
	position:relative;
	top:1px;
}


